<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uc.daiyeri">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/daiyeri"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/daiyeri_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".update"></activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".insert"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".panduan"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
    </application>

</manifest>
